/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    /* Set a default font */
}

/* Main section */
.main {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}



.home-user .custom-next,
.home-user .custom-prev {
    border-radius: 100px;
    border: 1px solid #DEDEDE;
    position: absolute;
    width: 44px;
    height: 44px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.home-user .custom-next:hover,
.home-user .custom-prev:hover {
    padding: 12px;
    /* fill: #fff; */
    border-radius: 100px;
    background: var(--red-1, #AF0B35);
}

.home-user .custom-next:hover path,
.home-user .custom-prev:hover path {
    fill: #fff;
}

.home-user .custom-next:active,
.home-user .custom-prev:active {
    padding: 12px;
    border-radius: 100px;
    background: #fff;
    border: 1px solid var(--Linear-1, #9E2B47);
}

/* Horizontal lines */
.hrr {
    width: 1px;
    height: 17px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.50) 50%, rgba(255, 255, 255, 0.00) 100%);
}

.hr {
    width: 1px;
    height: 36px;
    background: #F2F2F2;
    margin: 0 16px;
}

/* Menu section */






/* Content section */
.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
}
/* About section */
.about-title {
    line-height: 15.4px;
    font-size: 14px;
    font-weight: 500;
    color: #494949;
    margin-bottom: 5px;
    margin-top: 51px;
}

.about-subtitle {
    font-size: 44px;
    font-weight: 200;
    line-height: 1.4;
    margin-bottom: 56px;
}

.content-top {
    display: flex;
    /* gap: 20px; */
    text-align: center;
    justify-content: center;

}

.content-top a {
    text-decoration: none;
    color: #5A5A5A;
}

.content-top-menu {
    display: inline-block;
    cursor: pointer;
    width: 200px;
    text-align: center;
    padding-bottom: 1%;
    position: relative;
    min-width: 100px;
}

.content-top-menu.underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 3px;
    background-color: #9E2B47;
    transform: translateX(-50%);
}

.content-top-menu img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
}

.content-betwent {
    /* margin: 0 104px; */
    display: none;

}



.content-betwent.active {
    display: block;
    /* Tab hiện tại sẽ hiển thị */
}



.content-top-menu svg {
    transition: stroke 0.3s ease;
    margin-bottom: 10.5%;
    /* Hiệu ứng chuyển màu mượt */
}

.content-top-menu.active svg path {
    stroke: #9E2B47;
    /* Màu đỏ khi được click */
}

.content-top-menu div {
    color: #5A5A5A;
    font-weight: 500;
}

.content-top-menu.active div {
    color: #9E2B47;
}

.hrrr {
    /* margin: 0 104px; */
    /* width: 100%; */
    height: 1px;
    background-color: #ECECEC;
    /* margin-bottom: 57px; */
}

.borrow {
    width: 100%;
    height: 100%;
    position: relative;
    color: #5C3619;
    padding-right: 0 !important;
    overflow: hidden;
    padding-left: 0 !important;
}

.borrow img {
    width: 100%;
    /* Chiều rộng đầy đủ */
    border-radius: 4px;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.borrow img:hover {
    transform: scale(1.1);
    /* Phóng to ảnh lên 10% */
    border-radius: 4px;

}



.title-bottom {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #fff;
    display: flex;
    gap: 30px;
}

.column {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    color: #5C3619;
}

.card img {
    width: 100%;
    /* Chiều rộng đầy đủ */
    border-radius: 4px;
    height: 100%;
}

.card-titler {
    position: absolute;
    top: 5%;
    left: 5%;
}

.bgr-color {
    width: 70%;
    height: 100%;
    position: absolute;
    border-radius: 4px;

    background: linear-gradient(270deg, rgba(227, 207, 191, 0.00) -1.26%, #E3CFBF 39.13%);
}

.plus {
    width: 100%;
    height: 100%;
    position: relative;
    color: #5C3619;
}

.background {
    width: 100%;
    height: 83%;
    border-radius: 4px;

}

.card-bottom {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #5C3619;
    display: flex;
    gap: 30px;

}

.bgr {
    width: 70%;
    border-radius: 4px;

    height: 83%;
    position: absolute;
    background: linear-gradient(270deg, rgba(227, 207, 191, 0.00) -1.26%, #E3CFBF 54.27%);
}

.plus-title {
    position: absolute;
    top: 10%;
    left: 5%;
    color: #5C3619;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.phone {
    width: 45%;
    position: absolute;
    bottom: 17%;
    left: 2%;

}



.saler {
    /* margin: 0 104px; */
    display: flex;
    gap: 14px;
    justify-content: space-between;
    margin-bottom: 2%;
}

.Head {
    display: flex;
    flex-direction: column;
}



.slider {
    /* margin: 0 104px; */
    display: flex;
    gap: 20px;
    gap: 10px;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 7px 0 7px;
}
p {
    margin-bottom: 0px !important;
}


.background-top {
    width: 100%;
    height: 100%;
    background:
        url('/HTML_Agri/image/Mask\ group.png') no-repeat bottom center;
    /* Ảnh nền */
    background-size: 100% 66%;
    /* Ảnh chiếm 2/3 chiều cao phần tử */
    background-position: bottom center;
    /* Ảnh căn ở phía dưới */
}

.background-bottom {
    width: 100%;
    height: 100%;
    background:
        url('../images/home/bannerHomeUserFooter.png') no-repeat bottom center;
    /* Ảnh nền */
    background-size: 100% 66%;
    /* Ảnh chiếm 2/3 chiều cao phần tử */
    background-position: bottom center;
    /* Ảnh căn ở phía dưới */
}

.Subtitle-12 {
    color: #494949;


}

.Heading-H8 {
    color: var(--dark-2, #393939);

}

.map {
    width: 100%;
    background-image: url(../images/backgroundmap.png);
    position: relative;
    height: 683px;
}

.map img {
    width: 100%;
    /* position: absolute; */
    /* height: 100%; */
    height: auto;
}

.network {
    margin-top: 6%;
    left: 6%;
    display: flex;
    width: auto;
    padding: 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    position: absolute;
    top: 0;
    border-radius: 12px;
    border: 1px solid #F1F1F1;
    background: #FFF;
}

.btn-map {
    display: flex;
    height: 48px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--red-21, #AA1D40);
}

.icon-map1 {
    margin-top: 6%;
    left: 60%;
    position: absolute;
    top: 0;
}

.icon-map2 {
    margin-top: 8%;
    left: 80%;
    position: absolute;
    top: 0;

}

.icon-map3 {
    margin-top: 11%;
    left: 70%;
    position: absolute;
    top: 0;

}

.btn-map a {
    color: #fff !important;
}





/* responsive */

@media (max-width: 1366px) {
    
}





/* end luyendv  */